<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tamagotchi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="~/js/jquery-3.6.1.js"></script>
  
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      margin-top: 50px;
      text-align: center;
    }
    .cool-color {
      color: #007bff;
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
    marquee{
        text-align: center;
    }
  </style>
</head>
<body>

  <div class="container">
   <marquee scrollamount="-5" width="100%" loop="10000">
            <h1 class="cool-color">Tamagotchi</h1>
            <p>Created by <b>Dynasty</b> | The Initial Values for food, rest or attention for all pet is: 50 | Also Note that once Amount of Food, rest or attention = 0, The Pet dies </p>
            
        </marquee>

        <h3>Here is the current Status of <span class="cool-color">@Model.PetName</span></h3>
        
        
        <p>Amount of Food: <span class="cool-color" id="amountOfFood">@Model.AmountOfFood</span></p>
        <p>Attention: <span class="cool-color" id="amountOfAttention">@Model.Attention</span></p>
        <p>Rest: <span class="cool-color" id="amountOfRest">@Model.Rest</span></p>

        <p>Here are various Actions you can perform on @Model.PetName</p>

    <a href='#' class="btn btn-primary btn-sm" id="feedBtn">Feed</a>
    <a href='#' class="btn btn-primary btn-sm" id="playBtn">Play</a>
    <a href='#' class="btn btn-primary btn-sm" id="sleepBtn">Sleep</a>
    <a href='#' class="btn btn-primary btn-sm" id="makeTimePass">MakeTimePass</a>
    <a href='#' class="btn btn-primary btn-sm" id="aliveBtn">Pet Status</a>
        <br>
        <br>

    <a href='/pets/new' class="btn btn-primary btn-sm">Create A New Tamagotchi Pet</a>
    <br>
    <br>
    <form action="@Model.Id/deletepet" method="get">
      <button class="btn btn-danger" type="submit">Delete this tamagotchi pet</button>
    </form>
    <br>
    <a href='/pets'>See List of Tamagotchi Pets</a>
    <br>

  </div>

  <script>
      $(document).ready(() => {
          $("#feedBtn").click(() => {
            $.ajax({
                url: '@Url.Action("Feed", "Pet")',
                type: 'POST',
                data: { objId: '@Model.Id' }, 
                success: function (result) {
                    // Handle success
                    // Update the AmountOfFood value in the DOM
                    let currentAmountOfFood = parseInt($("#amountOfFood").text());
                    let newAmountOfFood = currentAmountOfFood + 5; 

                    $("#amountOfFood").text(newAmountOfFood);

                    alert(result.message); // Display a success message or update the UI
                },
                error: function (error) {
                    // Handle error
                    alert(error);
                    alert('Error feeding the pet.');
                }
            });
        });

        $("#playBtn").click(()=>{
          $.ajax({
                url: '@Url.Action("Play", "Pet")',
                type: 'POST',
                data: { objId: '@Model.Id' }, 
                success: function (result) {
                    // Handle success
                    // Update the Properties value in the DOM
                    let currentAmountOfFood = parseInt($("#amountOfFood").text());
                    let currentRest = parseInt($("#amountOfRest").text());
                    let currentAttention = parseInt($("#amountOfAttention").text());
                    
                    let newAmountOfFood = currentAmountOfFood - 5; 
                    let newAttention = currentAttention + 5; 
                    let newRest = currentRest - 5; 

                    $("#amountOfFood").text(newAmountOfFood);
                    $("#amountOfRest").text(newRest);
                    $("#amountOfAttention").text(newAttention);

                    alert(result.message); 
                },
                error: function (error) {
                    // Handle error
                    alert(error);
                    alert('Error feeding the pet.');
                }
            });
        });

         $("#sleepBtn").click(()=>{
          $.ajax({
                url: '@Url.Action("Sleep", "Pet")',
                type: 'POST',
                data: { objId: '@Model.Id' }, 
                success: function (result) {
                    // Handle success
                    // Update the Properties value in the DOM
                    let currentAmountOfFood = parseInt($("#amountOfFood").text());
                    let currentRest = parseInt($("#amountOfRest").text());
                    let currentAttention = parseInt($("#amountOfAttention").text());
                    
                    let newAmountOfFood = currentAmountOfFood + 5; 
                    let newAttention = currentAttention - 5; 
                    let newRest = currentRest + 5; 

                    $("#amountOfFood").text(newAmountOfFood);
                    $("#amountOfRest").text(newRest);
                    $("#amountOfAttention").text(newAttention);

                    alert(result.message); 
                },
                error: function (error) {
                    // Handle error
                    alert(error);
                    alert('Error feeding the pet.');
                }
            });
        });

         $("#makeTimePass").click(()=>{
          $.ajax({
                url: '@Url.Action("MakeTimePass", "Pet")',
                type: 'POST',
                data: { objId: '@Model.Id' }, 
                success: function (result) {
                    // Handle success
                    // Update the Properties value in the DOM
                    let currentAmountOfFood = parseInt($("#amountOfFood").text());
                    let currentRest = parseInt($("#amountOfRest").text());
                    let currentAttention = parseInt($("#amountOfAttention").text());
                    
                    let newAmountOfFood = currentAmountOfFood - 5; 
                    let newAttention = currentAttention - 5; 
                    let newRest = currentRest - 5; 

                    $("#amountOfFood").text(newAmountOfFood);
                    $("#amountOfRest").text(newRest);
                    $("#amountOfAttention").text(newAttention);

                    alert(result.message); 
                },
                error: function (error) {
                    // Handle error
                    alert(error);
                    alert('Error feeding the pet.');
                }
            });
        });


        $("#aliveBtn").click(()=>{
          $.ajax({
                url: '@Url.Action("IsAlive", "Pet")',
                type: 'POST',
                data: { objId: '@Model.Id' }, 
                success: function (result) {
                    // Handle success
                    // Update the Properties value in the DOM
                  
                    alert(result.message); 
                },
                error: function (error) {
                    // Handle error
                    alert(error);
                    alert('Error feeding the pet.');
                }
            });
        });




         
      });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-QROff/zFia7xYBDD5bAva7DmMjMRRXMpMpSM2G/94ZFQvSH93aM+ywCt2ZE32S9o" crossorigin="anonymous"></script>
</body>
</html>
